@media screen{
    #home{
        font-family: "Markazi Text", serif;
        font-size: 20px;
    }

    #home hr{
        margin: 10px auto 40px auto;
        border: 2px solid #E7CD78;
        border-radius: 100%;
        width: 100%;
    }
    
    #home .box{
        color: white;
        text-align: center;
        width:70%;
        background-color: #ee1d23;
        padding: 50px 20px 50px 20px;
        margin: 30px auto 30px auto;
    }

    #home .box h1{
        font-size: 2em;
        margin: 0;
    }

    #home .box p{
        margin: 0;
    }

    #home .box a{
        color: white;
    }
    #home .box a:visited{
        color: white;
    }

    #home .box .heading-box{
        width: fit-content;
        margin: 0 auto 0 auto;
    }
}