@media screen{
    #home{
        font-family: "Markazi Text", serif;
        font-size: 20px;
    }

    #home hr{
        margin: 10px auto 40px auto;
        border: 2px solid #E7CD78;
        border-radius: 100%;
        width: 30%;
    }
    
    #home .block{
        color: white;
        text-align: center;
        width:70%;
        background-color: #ee1d23;
        padding: 50px 20px 50px 20px;
        margin: 30px auto 30px auto;

    }

    #home .block h1{
        font-size: 2em;
        margin: 0;
    }

    #home .block p{
        margin: 0;
    }

    #home .block a{
        color: white;
    }
    #home .block a:visited{
        color: white;
    }
}